! font settings --------------------------------------------------------------

Xft.autohint: 0
Xft.antialias: 0
Xft.hinting: 0
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault
Xft*dpi: 96
