# This one is pretty obvious from the name; 
# when completing case will not be taken into consideration.
set completion-ignore-case on

# This one is insanely useful when you have a folder with lots of 
# similarly named files and you are not sure how far the completion has gone 
# when you press TAB. The first part that has been completed will be replaced 
# by "...", and it is simple to see what you need to type to 
# finish the completion.
set completion-prefix-display-length 2

# These will make completions appear immediately after pressing TAB once, 
# instead of the default behavior which is to show them after pressing twice. 
# I think you'll find this saves you many unnecessary keystrokes, 
# but the potential downside is that it could take up the space of 
# terminal backlog you were intending on keeping visible.
set show-all-if-ambiguous on
set show-all-if-unmodified on

# With this enabled, underscores and hyphens are treated equally when completing
#set completion-map-case on

# the word to be completed is replaced "inline" with a single match from
# the list of possible completions, and if I press the Tab key again, 
# the word gets replaced with the next match.
# Tab = "\C-i"
#Tab: menu-complete

# Ctrl-Alt-r interactive root shell
"\e\C-r": "\C-usudo -s\C-m"

"\e\C-i": "sudo apt-get install "
"\e\C-p": "sudo apt-get purge "

# Alt-s Prefix the line with sudo
"\es": "\C-asudo \C-e"

# Ctrl-Alt-l Append | less to line and run it
"\e\C-l": "\C-e | less\C-m"

# This allows you to search through your history using the up and down arrows
"\e[A": history-search-backward
"\e[B": history-search-forward
"\e[C": forward-char
"\e[D": backward-char
